  <?xml version="1.0"?>
  <model>
    <name>sensored_block</name>
    <version>1.0</version>
    <sdf>sensored_block.sdf</sdf>
    <author>
      <name>Benjamin Blumer</name>
      <email>BenjaminAaronBlumer@gmail.com</email>
    </author>
    <description>
      WAM model with shiny, new Gazebo-ROS integration.
    </description>
  </model>